.cssFont_1 {
	font-family: "Oswald", sans-serif;
	font-size: 20px;
	color: #000000;
	font-weight: normal;
	text-decoration: none;
	font-style: normal;
	font-variant: normal;
	text-transform: none;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Oswald";
}

img {
	width: 100%;
}

body {
	background-color: dimgray;
}

.head {
	height: 70px;
	background-color: dimgray;
	text-align: center;
	color: white;
	position: sticky;
	top: 0;
	z-index: 10;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 50px;
}
.countries {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	gap: 10px;
}

.countries__box {
	width: 400px;
	min-height: 250px;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	gap: 10px;
	padding-left: 10px;
	border: 1px solid black;
	position: relative;
	box-shadow: 11px 12px 8px -5px rgba(34, 60, 80, 0.2);
	background-color: white;
}

.country__box {
	max-width: 300px;
	display: flex;
	flex-direction: column;
}

.name {
	width: 280px;
	font-weight: bold;
}

.region {
	font-style: italic;
}

.capital {
	font-size: 20px;
}

.flag {
	position: absolute;
	width: 100px;
	height: 60px;
	right: 0;
	top: 0;
	border: 1px solid black;
}

.maps {
	position: absolute;
	bottom: 0;
}

.maps:visited {
	color: #0000ee;
}

.count {
	position: absolute;
	bottom: 0;
	right: 5px;
}

.select {
	width: 500px;
	font-size: 26px;
	text-align: center;
}

/* .hidden {
	width: 600px;
	height: 500px;
	position: fixed;
	top: 0;
} */

.hidden {
	display: none;
}

.big {
	width: 700px;
	height: 500px;
	transition: 1s ease-in;

	font-size: 40px;
}
