@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500");

* {
	margin: 0;
	padding: 0;
}

body {
	width: 100%;
	min-height: 100vh;
	background: grey;
	font-family: Roboto;
	font-weight: 400;
	font-size: 1.6rem;
}
