* {
	margin: 0;
	padding: 0;
}

body {
	background-color: black;
}

.video-container {
	margin: 0 auto;
	height: 100vh;
	position: relative;
	display: flex;
	flex-direction: column;
	/* justify-content: center; */
	align-items: center;
	justify-content: center;
}

.video-timer {
	display: flex;
	gap: 20px;
	color: white;
}

.player {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-bottom: 10px;
	background-color: black;
}

video {
	width: 50%;
	/* transition: 0.3s ease-in; */
}

.timing {
	padding-top: 20px;
	width: 50%;
}

.video-timer {
	width: 50%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.current-time,
.time,
.duration-text,
.text {
	color: white;
	font-size: 14px;
}

.buttons {
	display: flex;
	gap: 10px;
	margin-bottom: 10px;
}

button {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 30px;
	height: 20px;
	font-size: 10px;
}

.volume {
	margin-left: 100px;
}

.full {
	width: 100%;
}

.you {
	width: 200px;
	height: 150px;
}
