/* * {
    margin: 0;
    padding: 0;
} */

.video-timer {
    display: flex;
    gap: 20px;
}

.player {
    width:600px;
    /* margin: 0 auto; */
}

.video {
    width: 100%;
}

.timing {
    width: 100%;
}

button {
    width: 150px;
    height: 50px;
}