* {
	box-sizing: border-box;
}

body {
	background-color: gray;
}

img {
	max-width: 100%;
}

img[data-src] {
	opacity: 0;
	transition: opacity 0.3s;
}

img.lazy-loaded {
	opacity: 1;
}

.center {
	margin: 0 auto;
}

.image-container {
	width: 90vw;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#unsplash-image {
	width: 500px;
	height: 80vh;
	border: 1px solid white;
}

#like-button {
	border: none;
	font-size: 20px;
}

p,
span {
	color: white;
	font-size: 20px;
}

.liked {
	background-color: red;
	color: white;
	font-size: 20px;
	border: none;
}

span {
	margin-left: 10px;
}

.image-info {
	text-align: center;
}
